body {
	margin: 0;
	background-color: var(--back-blue);
}

main {
	background-color: #e2e2e5;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-flow: column;
	grid-gap: 0;
}

h1 {
	background-color: var(--back-light);
	color: var(--text-dark);

	font-family: sans-serif;
	font-size: 1.8em;
	font-weight: 600;

	text-align: center;
	letter-spacing: 3px;

	padding: calc(58px + var(--h-height)) 0 58px 0;
	margin: calc(-1 * var(--h-height)) 0 0 0;
}

main {
	padding: 0;
	margin: 0;
}

article {
	background-image: url("../images/poster_small.png");
	background-size: cover;
	background-position: center;
	background-color: #eeeeeeec;
	background-blend-mode: lighten;

	width: 100%;
	height: 100%;
}

section {
	color: var(--text-dark);
	background-color: var(--back-white);

	box-shadow: 0px 0px 5px 0px var(--shadow);

	width: 60%;
	padding: 35px 43px;
	margin: 50px auto;
}

h2 {
	font-family: sans-serif;
	font-weight: 300;
	text-align: center;

	position: relative;

	padding: 0;
	margin: 0 0 40px 0;

	scroll-margin-top: var(--h-gap);
}

h3 {
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 300;

	margin: 0;
}

h2::before {
	--line-ex: 20px;
	content: "";

	position: absolute;
	bottom: -5px;
	left: calc(-1 * var(--line-ex));
	right: 0;
	margin: auto;

	display: inline-block;
	width: calc(100% + var(--line-ex) * 2);
	height: 3px;
	background-color: var(--back-blue);
}

img.person {
	width: 27%;
	height: auto;
}

.widthmax {
	width: 100% !important;
	min-height: 500px;
}

img.widthmax {
	min-height: 0;
}

.widthmax > p {
	text-align: center;
	padding-top: 100px;
}

.widthmax + * {
	margin-top: 20px;
}

* + .widthmax {
	margin-top: 20px;
}

.container {
	display: flex;
	align-items: flex-start;
}

.item + .item {
	margin-left: 25px;
}

.position {
	font-family: sans-serif;
	font-weight: 300;

	letter-spacing: 0.7px;
	word-spacing: 0.6em;
}

.name {
	font-family: sans-serif;
	font-size: 1.55em;
	font-weight: 400;

	letter-spacing: 0.6px;
	word-spacing: 0.8em;

	margin: 18px 0;
}

.text {
	font-family: sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 2em;
}

.text p {
	margin: 0;
}

.text p + p {
	margin-top: 8px;
}

.tabs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: calc(60% + 43px * 2);

	padding: 0;
}

.tab-item {
	width: 50%;
	height: 3em;
	padding-top: 12px;
}

.tab-item:hover {
	opacity: 0.6;
}

input[name="tab-item"] {
	display: none;
}

.tab-content {
	display: none;
	margin: 30px 43px;
	width: 100%;
}

#event:checked ~ #event-content,
#booth:checked ~ #booth-content {
	display: block;
}

.tab-item > h2 {
	font-size: 1.2em;
}

.tab-item > h2::before {
	--line-ex: 0px;
	bottom: -16px;
	width: 85%;
}

.tabs input:not(:checked) + .tab-item > h2::before {
	content: none;
}

.tabs input:not(:checked) + .tab-item {
	box-shadow: inset -8px -8px 8px -8px var(--shadow);
}

.tabs .tab-item + input:not(:checked) + .tab-item {
	box-shadow: inset 8px -8px 8px -8px var(--shadow);
}

.events {
	margin: 0;
	padding: 0;
}

.events li {
	list-style-type: none;
	display: flex;
	align-items: flex-start;

	margin: 25px 0;
}

.events li img {
	width: 27%;
}

.events div {
	margin-left: 15px;
}

.events h3 {
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: 300;

	margin: 0;
	margin-top: 8px;
}

.events .time {
	font-family: sans-serif;
	font-size: 0.8em;
	font-weight: 200;
	margin-bottom: 8px;
	margin-left: 20px;
}

.events p {
	font-family: sans-serif;
	font-size: 0.7em;
	font-weight: 300;

	line-height: 2.5em;
	margin: 0;
}

.booths {
	margin: 0 auto;
	padding: 0;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	grid-column-gap: 15px;
	grid-row-gap: 30px;
	justify-content: space-between;
}

.booths li {
	list-style-type: none;
}

.booths img {
	width: 100%;
}

.booths p {
	font-family: sans-serif;
	font-size: 0.7em;
	font-weight: 300;

	margin: 3px 0 0 0;
}

.transport {
	padding: 0;
}

.transport li{
	list-style: none;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 300;

	margin: 7px 0;
}

.transport li::before {
	content: "➤";
}


table {
	border-collapse: collapse;
	margin: 0 auto;
}

td{
	border: solid 1px;
	padding: 2px;
}

.forms {
	margin: 0;
}

.forms li {
	list-style-type: circle;
	margin-bottom: 5px;
}

.forms a {
	text-decoration: none;

	color: var(--text-dark);
	font-family: sans-serif;
}

.forms a:hover {
	opacity: 0.3;
}