@media screen and (max-width: 959px) {
	section {
		width: 75%;
	}
}

@media screen and (max-width: 519px) {
	main {
		background-color: var(--back-white);
	}

	article {
		background-image: none;
		background-color: var(--back-white);
	}

	section {
		box-shadow: none;
		width: auto;
		margin: 20px 0;
	}

	.tabs {
		width: auto;
	}
}